.music-player {
  margin: 0;
  font-family: Georgia, serif;
  color: white;
  background-color: #6600cc;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: black;
  padding: 30px 30px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.logo {
  height: 50px;     
  width: auto;      
}

.tagline {
  font-size: 20px;
}

.player-content {
  flex: 1;
  background-color: #6600cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cd-wrapper {
  text-align: center;
}

.cd {
  width: 350px;
  max-width: 90vw;
  height: auto;
  margin-bottom: 20px;
}

.songtitle {
  font-size: 25px;
  margin-top: 23px;
}

.songartist {
  font-size: 22px;
  margin-top: 16px;
}

.controls {
  display: flex;
  justify-content: center; 
  gap: 60px;
  margin-top: 38px;
  font-size: 36px;
}

.control-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 20px;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.control-button:hover {
  transform: scale(1.2);
}

.control-icon {
  width: 60px;
  height:70px;
  object-fit: contain;
}

.spotify-wrapper {
  margin-top: 5px;
  text-align: center;
}

.spotify-link {
  font-size: 20px;
  font-weight: bold;
  color: #1db954;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.spotify-link:hover {
  opacity: 0.8;
  text-decoration: underlined;
}
